h1, h2, h3, p, ul, ol {
    /* removes default margin/padding from these elements*/
    margin: 0;
    padding: 0;
}

nav img {
    /* sets images as block elements and makes sure they don't bust out of their containers, and that they maintain their aspect ratio. */
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
}

h1 {
    padding: 1em;
}

#gameSection {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.imgOverlay {
    width: 100%;
}

button { 
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

button:hover {
    background-color: #ffb86b;
}

div {
    padding: 20px;
}

h1 {
    text-align: center;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}

#actions {
    background-color: silver;
}

/* FOR HOMEPAGE/OVERLAY */
/* for .hidden and .showing. you CAN NOT animate display, tags but you can animate opacity */
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.showing {
    display: block;
    visibility: visible;
    opacity: 1;
    /* background-color: pink; */
}

.closeButton {
	z-index: 2;
	font-size: 2em;
    padding: 0.5em;
    text-align: center;
    border-radius: 20px;
	position: fixed;
    bottom: 5%;
    right: 5%;
}

.closeButton:hover {
	background-color: aqua;
}

#overlay {
    /* positions to window bc no parent */
    position: fixed; 
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 100%;

    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;

	z-index: 2;
}

.closeButton2 {
	z-index: 2;
	font-size: 2em;
    padding: 0.5em;
    text-align: center;
    border-radius: 20px;
	position: fixed;
    bottom: 5%;
    right: 5%;
}

.closeButton2:hover {
	background-color: #9393ff;
}

#overlay2 {
    /* positions to window bc no parent */
    position: fixed; 
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 100%;

    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;

	z-index: 1;
}